<section id="portfolio" class="portfolio">

  <h2>Mi Portafolio</h2>

  <div class="projects">

    <div class="card">
      <img src="assets/studio.png" alt="">
      <h3>Studio Aris Web</h3>
      <p>Aplicación web desarrollada en Angular para la gestión de un salón de belleza, incluyendo control de inventario, ventas y reservas de citas.</p>
      <small>Angular • TypeScript • REST API</small>
      <a href="https://github.com/valenzuelasedanojhonrichard-ops/aris-system-vortex-88" target="_blank" class="btn">Ver código</a>
    </div>
    <div class="card">
      <img src="assets/backend_w.png" alt="">
      <h3>Medicuidado Backend</h3>
      <p>Backend en Spring Boot con arquitectura basada en capas (controller, service, repository), implementando seguridad con JWT para autenticación y autorización de usuarios.</p>
      <small>Java • Spring Boot • JPA • JWT • Security</small>
      <a href="https://github.com/valenzuelasedanojhonrichard-ops/studio-backend-api" target="_blank" class="btn">Ver código</a>
    </div>

    <div class="card">
      <img src="assets/medicuidado.png" alt="">
      <h3>Medicuidado App</h3>
      <p>Aplicación Android desarrollada en Kotlin para la gestión de salud, con consumo de API REST mediante Retrofit.</p>
      <small>Kotlin • Retrofit • XML</small>
      <a href="https://github.com/valenzuelasedanojhonrichard-ops/AppMediCuidado" target="_blank" class="btn">Ver código</a>
    </div>

    <div class="card">
      <img src="assets/backend_m.png" alt="">
      <h3>Medicuidado Backend</h3>
      <p>Medicuidado Backend es una API REST desarrollada con Spring Boot que gestiona la lógica de negocio de la aplicación móvil Medicuidado. </p>
      <small>Java • Spring Boot • JPA</small>
      <a href="https://github.com/valenzuelasedanojhonrichard-ops/AppMovilSSalud_Backend#" target="_blank" class="btn">Ver código</a>
    </div>

  </div>

</section>
