<section id="about" class="about">

  <h2 >Sobre Mí</h2>

  <p>
    Soy desarrollador de software enfocado en la creación de aplicaciones web
    modernas, con formación técnica culminada y experiencia en proyectos
    académicos.
  </p>
  <p>
    Me caracterizo por ser responsable, organizado y con una mentalidad
    orientada al aprendizaje continuo y crecimiento profesional.
  </p>

  <div class="tech">
    <span>Java</span>
    <span>Spring Boot</span>
    <span>Angular</span>
    <span>MySQL</span>
  </div>

</section>
