<footer id="footer" class="footer">

  <div class="footer-content">

    <div class="footer-social">
      <h3>Redes</h3>
      <div class="social-links">

        <a href="https://github.com/valenzuelasedanojhonrichard-ops" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/richardvalenzuelasedano-b027853a8/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="mailto:valenzuelasedanojhonrichard@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>

        <a href="https://wa.me/51945018399" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>

      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Richard - Portafolio</p>
  </div>

</footer>
