.footer {
  background: #0f0f1a; // mismo fondo del sitio
  color: white;
  padding: 50px 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer h3 {
  margin-bottom: 15px;
}

/* columnas */
.footer-about,
.footer-projects,
.footer-social {
  max-width: 250px;
}

/* links */
.footer a {
  color: #00c9a7;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* lista */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
}

/* redes */
.social-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* parte inferior */
.footer-bottom {
  margin-top: 40px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.social-links a:hover {
  color: #00c9a7;
  transform: scale(1.2);
}
.fa-github { color: #fff; }
.fa-linkedin { color: #0A66C2; }
.fa-whatsapp { color: #25D366; }
